.element {
	border-right: 0.8px solid #e5e5e5;
	background-color: white;
	padding: 20px;
	color: #000;
	position: absolute;
	margin-top: 10px;
	animation: push ease 5s alternate infinite;
	animation-delay: 1.5s;
	bottom: 145.88px;
	width: 50px;
}

@media screen and (max-width: 449px) {
	.element {
		bottom: 135.88px;
	}
}

@media screen and (max-width: 348px) {
	.element {
		width: 120px;
	}
}

@media screen and (max-width: 248px) {
	.element {
		width: 80px;
	}
}
